In [ ]:
import pandas as pd

In [ ]:
# Load dataset
df = pd.read_csv("ecommerce_sales.csv")

print(df.head())

   Order Date Product Name     Category Region  Quantity  Sales  Profit
0  31-12-2024      Printer       Office  North         4   3640  348.93
1  27-11-2022        Mouse  Accessories   East         7   1197  106.53
2  11-05-2022       Tablet  Electronics  South         5   5865  502.73
3  16-03-2024        Mouse  Accessories  South         2    786  202.87
4  10-09-2022        Mouse  Accessories   West         1    509  103.28

In [ ]:

df=pd.read_csv("ecommerce_sales.csv")
print(df.head(2))
print(df.tail)

   Order Date Product Name     Category Region  Quantity  Sales  Profit
0  31-12-2024      Printer       Office  North         4   3640  348.93
1  27-11-2022        Mouse  Accessories   East         7   1197  106.53
<bound method NDFrame.tail of       Order Date Product Name     Category Region  Quantity  Sales   Profit
0     31-12-2024      Printer       Office  North         4   3640   348.93
1     27-11-2022        Mouse  Accessories   East         7   1197   106.53
2     11-05-2022       Tablet  Electronics  South         5   5865   502.73
3     16-03-2024        Mouse  Accessories  South         2    786   202.87
4     10-09-2022        Mouse  Accessories   West         1    509   103.28
...          ...          ...          ...    ...       ...    ...      ...
3495  15-02-2023      Monitor  Accessories  North         4   4064   771.16
3496  18-09-2022      Monitor  Accessories   East         1   1117   119.89
3497  12-04-2022       Laptop  Electronics  South         4    260    66.02
3498  18-01-2022      Printer       Office  South         3    222    50.28
3499  01-11-2024   Smartwatch  Electronics   East         9  10530  1777.32

[3500 rows x 7 columns]>

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    3500 non-null   str
 1   Product Name  3500 non-null   str
 2   Category      3500 non-null   str
 3   Region        3500 non-null   str
 4   Quantity      3500 non-null   int64
 5   Sales         3500 non-null   int64
 6   Profit        3500 non-null   float64
dtypes: float64(1), int64(2), str(4)
memory usage: 302.5 KB

In [ ]:
df.describe()

          Quantity         Sales       Profit
count  3500.000000   3500.000000  3500.000000
mean      4.931714   3047.966000   527.047203
std       2.575895   2440.213237   504.139732
min       1.000000     51.000000     6.970000
25%       3.000000   1049.500000   158.695000
50%       5.000000   2350.500000   361.070000
75%       7.000000   4537.000000   729.125000
max       9.000000  10782.000000  2946.930000

In [ ]:
df.shape

(3500, 7)

In [ ]:
df.describe()

          Quantity         Sales       Profit
count  3500.000000   3500.000000  3500.000000
mean      4.931714   3047.966000   527.047203
std       2.575895   2440.213237   504.139732
min       1.000000     51.000000     6.970000
25%       3.000000   1049.500000   158.695000
50%       5.000000   2350.500000   361.070000
75%       7.000000   4537.000000   729.125000
max       9.000000  10782.000000  2946.930000

In [ ]:
df.size

24500

In [ ]:
df.sample(7)

      Order Date Product Name     Category Region  Quantity  Sales   Profit
427   19-11-2023      Printer       Office   East         8   5296  1234.81
747   12-03-2024       Tablet  Electronics   East         7   4921   798.16
1684  02-09-2022       Tablet  Electronics  South         1    552   115.74
3468  25-03-2022     Keyboard  Accessories  North         7   7679  2270.08
729   13-01-2022      Monitor  Accessories   West         2   1924   434.86
656   20-05-2023       Camera  Electronics  South         6   4302   965.02
2491  25-09-2024        Mouse  Accessories   East         9   8460  1515.06

In [ ]:
df.loc[5]

Order Date       01-12-2023
Product Name         Camera
Category        Electronics
Region                 West
Quantity                  1
Sales                   524
Profit               106.35
Name: 5, dtype: object

In [ ]:
df.iloc[3]

Order Date       16-03-2024
Product Name          Mouse
Category        Accessories
Region                South
Quantity                  2
Sales                   786
Profit               202.87
Name: 3, dtype: object